autopep8==1.4.4
certifi==2022.12.7
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==39.0.1
idna==2.8
pycodestyle==2.5.0
pycparser==2.19
pyOpenSSL==19.1.0
PySocks==1.7.1
requests==2.31.0
selenium==3.141.0
six==1.13.0
tqdm==4.43.0
urllib3==1.26.5
